.auth {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  /* Bóng nhẹ */
  	background-color: #fff;         /* Nền trắng nổi bật */
	padding: 28px 28px;
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title {
	box-sizing: border-box;
	margin: 0 0 16px 0;
	font-size: 25px;
	color: rgb(222, 0, 165);
	text-align: center;
}
.label {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}
.input {
	width: 100%;
	padding: 10px 12px;
	font-size: 14px;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 5px;
}
.buttonRow {
	margin-top: 8px;
	display: flex;
	justify-content: space-between; /* cách đều 2 bên */
	align-items: center;
}
.subLink {
	cursor: pointer;
	color: var(--accent);
	background: transparent;
	cursor: pointer;
	font-weight: 600;
	color: rgb(222, 0, 165);
	transition: color 0.5s ease;
	font-size: 15px;
	text-decoration: none;
}
.subLink:hover {
	color: #b30065;
}
.btn {
	cursor: pointer;
	padding: 10px 16px;
	border-radius: 6px;
	border: none;
	font-weight: 600;
	background: var(--accent);
	background-color: rgb(222, 0, 165);
	color: white;
	transition: background-color 0.5s ease;
}
.btn:hover {
	color: #b30065;
}
